:root {
    --verde: green;
    --verde-claro: #369d00;
    --azul: #003463;
    --gris-claro: #eeeeee;
    --gris: #666;
    --blanco: white;
    --sombra: #00000021;
}

html {
    font-size: 16px;
}

.menu-nav {
    color: var(--verde);
    border-bottom: solid var(--verde) 2px;
}

.navbar {
    background-color: var(--gris-claro) !important;
}

nav {
    text-align: right;
    font-weight: bold;
    font-size: 20px;
}

#logo-nav {
    width: 25px;
    height: 25px;
    filter: invert(19%) sepia(84%) saturate(7144%) hue-rotate(124deg) brightness(99%) contrast(104%);
}

main {
    height: 800px;
    background-color: var(--blanco);
    color: var(--gris);
    font-weight: bold;
    max-width: 1080px;
    margin: auto;
    display: grid;
    grid-template-areas: "card_promedio"
                          "card_dolarhoy"
                          "card_cronista"
                          "card_ambito";
    grid-template-rows: 2fr 1fr 1fr 1fr;
}

.card_promedio {
    grid-area: card_promedio;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_promedio>div {
    text-align: center;
    width: 80%;
    height: 70%;
    border-top: solid 2px var(--verde);
    box-shadow: 0 0 8px #00000021;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-areas: "titulo titulo"
                         "compra venta";
    grid-template-rows: 30% 70%;
}

.card_dolarhoy {
    grid-area: card_dolarhoy;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_dolarhoy>div {
    text-align: center;
    width: 80%;
    height: 70%;
    border-top: solid 2px var(--verde);
    box-shadow: 0 0 8px #00000021;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-areas: "titulo titulo"
                         "compra venta";
    grid-template-rows: 30% 70%;
}

.card_cronista {
    grid-area: card_cronista;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_cronista>div {
    text-align: center;
    width: 80%;
    height: 70%;
    border-top: solid 2px var(--verde);
    box-shadow: 0 0 8px #00000021;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-areas: "titulo titulo"
                         "compra venta";
    grid-template-rows: 30% 70%;
}

.card_ambito {
    grid-area: card_ambito;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_ambito>div {
    text-align: center;
    width: 80%;
    height: 70%;
    border-top: solid 2px var(--verde);
    box-shadow: 0 0 8px #00000021;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: grid;
    grid-template-areas: "titulo titulo"
                         "compra venta";
    grid-template-rows: 10% 90%;
    display: grid;
    grid-template-areas: "titulo titulo"
                         "compra venta";
    grid-template-rows: 30% 70%;
}

.card-wrapper>div {
    background-color: var(--blanco);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-title {
    grid-area: titulo;
    color: var(--gris);
    font-size: 20px;
}

.card-compra {
    grid-area: compra;
    color: var(--verde);
    font-size: 24px;
}

.card-venta {
    grid-area: venta;
    color: var(--verde);
    font-size: 24px;
}

.card-wrapper {
    background-color: var(--verde-claro);
    gap: 1px;
}


footer {
    text-align: center;
    margin: auto;
    color: var(--gris);
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 20px;
    margin-bottom: 10px;
    border-top: 1px solid var(--gris);
    max-width: 60%;
}

/* Efectos */
.card_promedio>div:hover,.card_ambito>div:hover,.card_cronista>div:hover,.card_dolarhoy>div:hover {
    transform: translate(0,-3px);
    box-shadow: 0 0 30px var(--sombra);
}